
/*Scaffolding*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
}


/*Input Fields*/

textarea {
  resize: vertical;
}


/*Navbar*/

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  margin-right: 30px;
}


/*Thumbnails*/

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}


/*Other*/

.glyphicon {
    margin-right: 6px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
